<!DOCTYPE html>
<html>

  <head>
    <title>Evidence</title>
  </head>

  <body>
    <h1>Lisää todiste:</h1>
    <form action="/save_evidence" method="post">
      <p>
        <label for="new_evidence">Todiste:</label>
        <input type="text" id="new_evidence", name="new_evidence"/>
      </p>
      <p>
        <label for="new_source">Lähde:</label>
        <input type="text" id="new_source", name="new_source"/>
      </p>
      <input type="submit" value="Lisää todiste analyysiin" />
    </form>
  </body>

</html>