<!DOCTYPE html>
<html>

  <head>
    <title>Create account</title>
  </head>

  <body>
    <h1>Luo tili Analyysilokeroon</h1>
    <form action=" " method="post">
      <fieldset>
      <legend>Valitse itsellesi nimimerkki ja salasana</legend>
        <p>
          <label for="userName">Nimimerkki:</label>
          <input type="text" id="userName"/>
        </p>
        <p>
          <label for="password">Salasana:</label>
          <input type="text" id="password"/>
        </p>
        <p>
          <label for="password2">Salasana uudelleen:</label>
          <input type="text" id="password2"/>
        </p>
      </fieldset>
    </form>
  <body>

</html>