<!DOCTYPE html>
<html>

  <head>
    <title>Analysis</title>
  </head>

  <body>
    {% if session.question %}
    <h1>{{session.question}}</h1>
      <form action="/update_analysis" method="post">
        <p>
          <label for="update_analysis">Muokkaa kysymystä:</label>
          <input type="text" value={{session.question}} id="update_analysis", name="update_analysis"/>
        </p>
        <input type="submit" value="Aseta kysymys" />
      </form>
    {% else %}
    <h1>Aseta kysymys johon analyysi tulee vastata:</h1>
      <form action="/new_question" method="post">
        <p>
          <input type="text" value="Kysymys" id="new_question", name="new_question"/>
          <input type="submit" value="Aseta kysymys" />
        </p>
      </form>
    {% endif %}
    <fieldset>
      <legend>Hypoteesit</legend>
      <ul>
        {% for hypothesis in hypotheses %}
        <li>{{ hypothesis }}</li>
        {% endfor %}
      </ul>
      <form action="/new_hypothesis" method="post">
        <p>
          <label for="new_hypothesis">Uusi hypoteesi:</label>
          <input type="text" id="new_hypothesis", name="new_hypothesis"/>
        </p>
        <input type="submit" value="Aseta uusi hypoteesi" />
      </form>
    </fieldset>
    
    <form action="/user_page">
      <input type="submit" value="Lopeta tarkastelu" />
    </form>
  </body>

</html>