<!DOCTYPE html>
<html>

  <head>
    <title>Etusivu</title>
  </head>

  <body>
    <h1>Tervetuloa Analyysilokeroon!</h1>
    <form action=" " method="post">
      <fieldset>
      <legend>Kirjaudu</legend>
        <p>
          <label for="userName">Nimimerkki:</label>
          <input type="text" id="userName"/>
        </p>
        <p>
            <label for="password">Salasana:</label>
            <input type="text" id="password"/>
        </p>
        <p>
          <input type="submit" value="Kirjaudu" />
        </p>
      </fieldset>
    </form>
    <a href="/create_account">Luo tunnus</a>
  </body>

</html>
