<!DOCTYPE html>
<html>

  <head>
    <title>Luo tunnus</title>
  </head>

  <body>
    <h1>Luo tunnus Analyysilokeroon</h1>
    <form action="/create_account" method="post">
      <fieldset>
      <legend>Valitse itsellesi nimimerkki ja salasana</legend>
        <p>
          <label for="username">Nimimerkki:</label>
          <input type="text" id="username", name="username"/>
        </p>
        <p>
          <label for="password1">Salasana:</label>
          <input type="text" id="password1" name="password1"/>
        </p>
        <p>
          <label for="password2">Salasana uudelleen:</label>
          <input type="text" id="password2" name="password2"/>
        </p>
        <p>
          <input type="submit" value="Luo tunnus" />
        </p>
      </fieldset>
    </form>
  <body>

</html>